<h1>Welcome, {{username}}</h1>
<!-- <h2>Score: {{score}}</h2> -->
<button class="btn btn-primary" ng-click="newGame()">New Game</button>
  <p ng-bind="counter"></p>
    <!-- <button ng-click="start()">Start</button> -->
    <button class="btn btn-danger" ng-click="stop()">Stop</button>
    <button class="btn btn-primary" ng-click="addGame()">Save Game</button>

<div class="container">
    <div id = "cardTable" class="col-xs-12 card-container">

      <div class = "col-xs-4 card" ng-repeat="card in cards" ng-style = "{'isFlipped:transform: rotateY(180deg)'}" ng-click="Game(card)">

        <img ng-src="{{card.emojPics}}" ng-hide="{'isFlipped':card.isFlipped}" ng-show="card.isFlipped">
      </div>
    </div>
      <!-- <div class="col-xs-12 card" ng-class="{'flipped':card.isFlipped}"></div>
      <div class="col-xs-12 card" ng-class="{'flipped':card.isFlipped}"></div> -->

</div>
