.card{
    background-image: url("/data/square_card_back.jpg");
    height: 312px;
    width: 300px;
}


.card-container{
  height: 320px;
}

.body{
  background-image: url("/data/backgroundTheme.png");
  height: 100%;
  width: 100%;
}

/*.isFlipped{
  cursor: not-allowed;
}*/

.flipped .front {
  transform: rotateY(0deg);
}

.flipped .back {
  transform: rotateY(180deg);
}

.matched {
  opacity: 0.4;
}

.matched .front {
  transform: rotateY(0deg);
}

.matched .back {
  transform: rotateY(180deg);
}
